.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.box-time h3 {}

.box div {
	padding-bottom: 20px;
}

.box-tel a {}

h3 {
	font-size: 20px;
	text-align: center;
	color: rgb(191, 44, 207);
}

.box-style {
	font-size: 40px;
	color: rgb(144, 26, 158);
}

.box-social {
	text-align: center;
}

.box3 {
	display: flex;
	justify-content: space-between;
}

.shar {
	background-image: url(../images/sharik.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	width: 200px;
}