.goTop {
	position: fixed;
	bottom: 50%;
	right: 70px;
	width: 70px;
	font-size: 40px;
	border-radius: 50%;
	z-index: 999;
	opacity: 0;
	transition: all 0.7s linear;
}

.goTop__show {
	transition: all 0.7s linear;
	opacity: 1;
}

.goTop img {
	width: 70px;
}